---
import { Image } from '@astrojs/image/components'
import FavoriteButton from './FavoriteButton'
interface Props {
  name: string
}
const { name } = Astro.props
const data = await fetch(`https://pokeapi.co/api/v2/pokemon/${name}`).then(res => res.json())
---

<li>
  <div>
    <span>{name}</span>
  </div>
  <div>
    <Image
      alt={`${name} image`}
      aspectRatio={1}
      format='webp'
      src={data.sprites.front_default}
      width='96'
    />
  </div>
  <div>
    <!-- Without this directive, Astro won't add to them the events/functions -->
    <FavoriteButton
      client:visible
      name={name}
    />
  </div>
</li>
<style lang='scss'>
  li {
    padding: 0 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;

    background: rgb(212, 226, 196);
    background: linear-gradient(140deg, rgb(212, 226, 196) 0%, rgb(217, 184, 216) 100%);
    border-radius: 0.4rem;
  }
  div {
    flex: 1;
  }
  span {
    color: purple;
    text-transform: capitalize;
    font-weight: 600;
  }
</style>
